article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
  text-align: center;
  background-color: #b0e0e6;
  font-family: 'Work Sans', sans-serif;
  color: #1c1d21;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  margin: 25px 0 0;
  font-size: 4rem;
}

h1,
h2 {
  font-family: 'Vollkorn', serif;
  letter-spacing: -2px;
}

h1,
h2,
h3 {
  text-shadow: 0px 5px 20px rgba(50, 50, 50, 0.4);
}

h2 {
  margin: 0;
  padding: 20px 10px 0;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
}


header h2 {
  font-size: 2.1rem;
}

header h2,
header h3 {
  padding-top: 0;
}

header h3 {
  margin: 10px auto;
  font-family: "Vollkorn", serif;
  font-size: 1.7rem;
  text-align: center;
}

h3 span {
  position: relative;
  top: 2px;
  color: #f46036;
  font-weight: 600;
  font-size: 1.8rem;
}

p,
h3 {
  width: 85%;
  margin: 15px auto;
}

p,
ul {
  font-size: 1.2rem;
}

ul {
  margin-top: 40px;
}

li {
  position: relative;
  margin: 20px;
  list-style: none;
}

a {
  position: relative;
  color: #31333a;
  text-decoration: none;
  z-index: 1;
}

i {
  transition: .85s;
}

button {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #f46036;
  border: none;
  transition: .85s;
  color: #fcfcfc;
}

.bodyText {
  width: 80%;
  margin: 0 0 20px 0;
  padding: 30px;
}

.bodyText,
.results,
.messageBox {
  padding: 10px 0 20px 0;
  display: inline-block;
  background-color: #fcfcfc;
  border: none;
  -webkit-box-shadow: 0px 15px 10px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 15px 10px rgba(50, 50, 50, 0.7);
}

.resultsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.results {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.messageBox {
  width: 60%;
  margin-bottom: 30px;
}

.footerBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  border-top: 2px solid #1c1d21;
}

.creator {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fab {
  margin: 0 15px;
  color: #f46036;
  font-size: 25px;
}

.bodyText p {
  letter-spacing: .65px;  
  line-height: 29px;
}

.bodyText span {
  color: #f46036;
  font-weight: 600;
}

.bodyText p:first-of-type::first-letter {
  color: #f46036;
}

.bodyText p:first-of-type::first-letter {
  float: left;
  margin: 9px 5px 5px;
  padding: 0 6px 8px 4px;
  font-family: 'Vollkorn';
  font-size: 5rem;
}

.bodyText p:last-of-type {
  font-weight: 600;
}

.bodyText p,
.resultsBox p,
.messageBox ul,
h3 {
  text-align: left;
}

.resultsBox h3:first-child {
  padding: 0 10%;
  font-size: 1.2rem;
  text-shadow: 0px 5px 20px rgba(50, 50, 50, 0.4);
}

.results p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.results span,
.messageBox ul li a {
  font-weight: 600;
}

.messageBox h3 {
  color: #1c1d21;
}

.messageBox ul li a {
  color: #f46036;
}

.safetyNotice p {
  color: #f46036;
  font-size: 1rem;
  font-weight: 600;
}

footer p {
  margin: 30px auto;
  font-size: .9rem;
}

footer button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.creator p {
  display: inline-block;
  margin: 5px 15px;
  text-align: left;
}

input[type=text] {
  height: 40px;
  width: 300px;
  margin: 20px;
  padding-left: 15px;
  background-color: #fcfcfc;
  border: none;
}

input[type=text]::placeholder {
  color: #1c1d21;
}

button:hover {
  background-color: #0a2239;
}

a:hover::before,
a:focus::before {
  transform: translateY(110%) scaleX(1.25);
}

li::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 7px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color:#f46036;
  border-radius: 50%;
}

.underlineAnimation::before {
  content: '';
  position: absolute;
  left: 5%;
  bottom: 1px;
  display: inline-block;
  width: 90%;
  height: 50%;
  background-color: rgba(244, 96, 54, .3);
  z-index: 0;
  transform: translateY(40%) scaleX(1);
  transition: .4s ease;
}

.results:focus {
  border: 2px dotted #1c1d21;
}

button:focus,
input[type="text"]:focus {
  box-shadow: 0 0 4px #1c1d21;
}

@media (max-width:1180px) {
  .bodyText {
    width: 90%;
  }
  
  .resultsBox {
    width: 100%;
  }
}

@media (max-width:1050px) {
  .resultsBox {
    width: 90%;
  }
  .results {
    width: calc(50% - 20px);
  }

  .messageBox {
    width: calc(90% - 20px);
    margin: 20px auto;
  }
}

@media (max-width:860px) {
  h1 {
    font-size: 4rem;
  }
  
  .resultsBox {
    width: 100%;
  }
  
  .results {
    width: calc(50% - 20px);
  }

  .messageBox {
    width: calc(100% - 20px);
  }

}

@media (max-width:690px) {
  .bodyText {
    padding: 20px;
  }
  
  h1 {
    font-size: 3.5rem;
  }
 
  .resultsBox h3:first-child {
    padding: 0;
  }

  .results {
    width: calc(80% - 20px);
  }

  .messageBox {
    width: calc(80% - 20px);
  }

  input[type=text] {
    width: auto;
  }
}

@media (max-width:520px) {
  .bodyText {
    padding: 10px;
  }
  
  .resultsBox {
    width: 100%;
  }
  .results {
    width: calc(90% - 20px);
  }

  .messageBox {
    width: calc(90% - 20px);
  }
  
  .collectiveTextBox {
    margin: 0 auto;
    text-align: center;
  }

  input[type=text] {
    margin-left: 0;
  }

  .footerBar {
    flex-direction: column;
  }

  .creator {
    margin: 0 auto;
  }

  footer button {
    margin: 10px auto;
  }
}

@media (max-width:400px) {
  h2 {
    font-size: 1.5rem;
  }

  .safetyNotice p,
  p {
   font-size: 1rem;
  }

  .bodyText {
    padding: 0px;
  }

  .results {
    height: 430px;
    width: calc(100% - 20px);
  }

  .messageBox {
    width: calc(100% - 20px);
  }
}
